.dialogMenuItem {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
    z-index: 100000;
    top: 0;
    left: 0;
    overflow-y: scroll;
}

.dialog {
    width: 100%;
    height: 100%;
    margin-top: 32px;
}

.modal-content {
    width: 70%;
    height: fit-content;
    margin-left: 15%;
    background-color: white;
}

.modal-body {
    width: 100%;
    height: 100%;
}

.modal-body .nav {
    display: flex;
    justify-content: space-between;
    height: 5%;
}

.modal-body .nav .nav-tab-wrapper {
    border-bottom: none;
    height: 50px;
    padding: 0;
}

.modal-header {
    height: 50px;
}

.modal-body .nav .nav-tab-wrapper li {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #004fac;
    border: none;
}

.modal-body .nav .nav-tab-wrapper li a {
    text-decoration: none;
    display: block;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 5px;
    color: white;
}
.modal-body .nav .nav-tab-wrapper li a:focus{
    box-shadow: none;
}

.modal-body .nav .nav-tab-wrapper li a span {
    margin-left: 3px;
}

.modal-body .nav button {
    width: 50px;
    background-color: transparent;
    font-size: 1.5em;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .3s all linear;
}

.modal-body .nav button:hover{
    background-color: rgb(166, 27, 9);
    color: white;
}


.modal-body .nav .nav-tab-wrapper .ui-tabs-active {
    background-color: #729cd0;
}

.modal-header {
    width: 100%;
    font-size: 1.5rem;
}

.modal-header h4 {
    text-align: center;
}

#new_item.row{
    width: 100%;
    display: grid;
    grid-template-columns: 20% calc(80% - 40px);
    gap: 40px;
    margin-bottom: 15px;
}

#new_item.row .col-xs-3 {
    width: 100%;
    height: 100%;
    margin-left: 20px;
}
#new_item.row .col-xs-3 div {
    width: 100%;
    height: 100%;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
}

.edit-image {
    border: #004fac 1px dashed;
}
#new_item.row .col-xs-3 div #upload_image_button {
    width: 100%;
    height: 100%;
    border: none;
}


#new_item.row .col-xs-3 div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#new_item.row .col-xs-3 div .icon-delete {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    font-size: 1.2em;
    background: white;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#new_item.row .col-xs-3 div .visibility-btn {
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    background: white;
    z-index: 100;
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.visibility-btn span {
    margin: 0;
    font-size: 1.2em;
    line-height: 20px;
    pointer-events: none;
}

#errorMessage.errorMessage {
    color: #a00;
}

.errorMessage.hide {
    display: none;
}

.form-container {
    margin-right: 20px;
}

#mceu_92 {
    display: none;
}

#my_custom_editor_ifr {
    height: 300px !important;
}

#my_custom_editor {
    resize: none;
    height: 300px;
}

.hidePrice, 
.hideCreator{
    display: none;
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-group input {
    border: none;
    border-bottom: 1px solid #0050ac9e;
    background-color: #0050ac12;
    border-radius: 0px;
    padding: 0 8px;
    line-height: 2;
    min-height: 30px;
}

.form-group .inputs {
    width: 100%;
    display: grid;
    grid-template-columns: 80% 20%;
}

.form-group .visibility-btn {
    width: -moz-fit-content;
    width: fit-content;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
    margin-left: 15px;
    cursor: pointer;
}

.form-group .visibility-btn span {
    padding: 0;
    margin: 0;
    font-size: 2em;
}

.form-group input:focus {
    box-shadow: none;
    border-bottom-color: #004fac;
}

.form-group label {
    font-weight: bolder;
    font-size: 1.1em;
    margin-bottom: 5px;
}
.form-group label:not([for="itemTitle"]){
    margin-top: 25px;
}
.item-price .rmvPrice, 
.item-creator-name .rmvCreatorName {
    font-size: 2em;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: .3s all linear;
}

.item-price .rmvPrice:hover, 
.item-creator-name .rmvCreatorName:hover {
    color: red;
}

.form-group .add-price,
.form-group .add-creator-name {
    display: none;
    border-radius: 0px;
    font-size: 1.2em;
    color: #004fac;
    border-color: #004fac;
    width: 80%;
}


.item-price, 
.item-creator-name {
    display: grid;
    grid-template-columns: 40% 40% 10% 10%;
    margin: 10px 0;
}
.item-creator-name {
    grid-template-columns: 80% 10% 10%;
}
.item-price input:focus-visible, 
.item-creator-name input:focus-visible {
    box-shadow: none;
    outline: none;
}
.item-price input:last-of-type {
    margin-left: 10px;
}

.modal-footer {
    padding: 15px 0;
    display: flex;
    justify-content: flex-end;
}
.modal-footer button {
    margin-right: 20px;
    padding: 10px 15px;
    width: 70px;
    border-radius: 4px;
    background-color: rgba(0, 80, 172, 0.163);
    border: none;
    cursor: pointer;
    transition: .3s all linear;
}
.modal-footer button[type="submit"]:hover{
    background-color: #004fac;
    color: white;
}
.modal-footer button.cancel-btn:hover {
    background-color: #a00;
    color: white;
}


/* .mce-statusbar.mce-container.mce-panel.mce-stack-layout-item.mce-last {
    display: none;
    }
    .dialogMenuItem .mce-edit-area.mce-container.mce-panel.mce-stack-layout-item {
        height: 250px ;
    }
    .dialogMenuItem{
        position: fixed;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, .5);
        z-index: 100000;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        overflow-y: scroll;
    }
    .dialog{
        height: fit-content;
        position: absolute;
        top: 20px;
        background-color: white;
        padding: 20px;
        width: 50%;
    }
    .modal-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.2em;
    }
    .modal-header h4 {
        margin-bottom: 5px;
    }
    .modal-button, 
    .rmvCreatorName,
    .rmvPrice {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .erm_menu_item .edit-image { width: 150px; vertical-align: top; }
    .erm_menu_item .edit-image img { width: 100%; height: auto; }
    .erm_menu_item.section .edit-image { display: none !important; }
    .modal-dialog { margin-top: 60px !important; }
    .modal-body .edit-image { width: 150px; vertical-align: top;  }
    .modal-body .edit-image img { width: 100%; height: 100%; object-fit: cover }
    .modal-body .uploader-upload >div { width: 100%; height: 150px; border: 1px dashed #8c8c8c; text-align: center; }
    .modal-body .uploader-upload button { margin-top: 60px; }
    .modal-body .uploader-image { position: relative; width: 150px; height: 150px; }
    .modal-body .uploader-image .icon-delete {
        position: absolute;  top: 0px;  right: 0px;
        width: 20px; height: 20px;
        text-align: center; line-height: 20px;
        background: rgba(255,255,255,0.6);
        color: black;
        cursor: pointer;
        border: none;
        
    }
    .modal-body .uploader-image .icon-delete:hover {
        background: white;
        color: #ff4c60;
    }
    .modal-body .row{
        display: flex;
        padding-top: 10px ;
        justify-content: space-between;
    }
    .form-container {
        width: calc(95% - 150px);
        display: flex;
        flex-direction: column;
    }

    .form-group:first-child input{
        width: 98%;
    }

    .item-creator-name.hideCreator {
        display: none;
    }
    .item-creator-name{
        display: block;
    }

    .form-group:nth-child(2) {
        padding: 20px 0;
        width: 100%;
    }
    .price-form input, 
    .create-name-form  input {
        width: 45%;
    }
    .modal-footer {
        padding-top: 20px;
        border-top: 1px black solid;
        margin-top: 20px;
        direction: rtl;
    }
    .modal-footer button:last-of-type{
        margin-right: 10px 
    }
    
    .edit-price {
        margin: 10px 0;
    }
    .hide {
        visibility: hidden;
    }
    
    #my_custom_editor_ifr {
        height: 100% !important;
    }

    
    #errorMessage.errorMessage {
        color: #a00;
    }

    .errorMessage.hide {
        display: none;
    }

    .item-price {
        display: none;
    }
    
    #sortable { 
        list-style-position: inside;
        width: 90%;
        max-width: 100%;
        background: white;
        padding: 0;
        margin: 10px 0 10px 10px;
        border-radius: 0.1rem;
    }
    .custom-cursor {
        cursor: grab;
    }

    #sortable > span {
        position: absolute;
        right: 0;
    }

    #sortable li { 
        padding: 0 0 0 1rem;
        box-shadow: 0.25rem 0.25rem 0.75rem rgb(0 0 0 / 0.15);
        border-left: 4px solid #2271b1;
        border-radius: 5px;
        background-color: #2271b112;
        display: flex;
        justify-content: space-between;
        position: relative;
        align-items: center;
        margin-bottom: 1em;
    }
    .show-data {
        display: flex;
        align-items: center;
    }
    
    .show-data img {
        height: 100%;
        border-radius: 5px;
        box-shadow: 0.25rem 0.25rem 3rem rgb(0 0 0 / 0.15);
        object-fit: cover;
    }
    .show-data .item-info .item-show-info {
        margin-left: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .show-data .item-info .item-show-desc{
        margin-left: 16px;
    }
    
    .action-data {
        padding: 10px 20px;
        display: flex;
    }
    .action-data button span {
        font-size: 2rem;
    }
    .action-data .deleteIcon:hover {
        color: #a00;
        cursor: pointer;
    }
    .action-data .editIcon:hover {
        color: #2271b1;
        cursor: pointer;
    }
    .action-data button{
        color: black;
        padding: 0 2em;
        text-decoration: none;
        height: 40px;
        width: 40px;
        background-color: transparent;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .delete-dialog {
        position: fixed;
        background-color: white;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 20% 45% 35%;
        width: 500px !important;
        height: 190px !important;
        top: 30px;
        border-radius: 5px;
    }
    
    .ui-dialog-titlebar-close {
        display: none;
    }

    .delete-dialog .deleteBtn {
        display: flex;
        justify-content: flex-end;
    }
    
    .delete-dialog #closeDeleteDialogBtn {
        border: none;
        background-color: transparent;
        cursor: pointer;
        margin: 5px 5px 0 0;
        width: auto;
    }
    .delete-dialog #closeDeleteDialogBtn:hover {
        color: red;
    }

    .delete-dialog .dialogBtns {
        display: flex;
        justify-content: flex-end;
        padding: 20px;
    }
    .delete-dialog .dialogBtns button {
        margin-right: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
    }
    .delete-dialog .dialogBtns button:last-of-type {
        background-color: #a00;
        border-color: #a00;
        margin-right: 0;
    }
    .delete-dialog .message {
        display: flex;
        justify-content: center;
        padding-top: 5%;
    }

    .delete-dialog .message p {
        font-size: 1.5em;
        font-weight: bolder;
    }




    .ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front{
        width: 98.9vw !important;
        height: 100vh !important;
        overflow: hidden !important;
        background-color: rgba(0, 0, 0, .2);
        z-index: 1000000;
        display: flex;
        justify-content: center;
        position:fixed;
    }

    @media screen and (max-width: 900px) {
        .dialog {
            width: 90%;
        }
    }
    

    .tab-buttons {
        display: flex;
        gap: 15px;
    }

    .menu-item {
        position: relative;
    }

    .menu-item::before{
        content: "\2195";
        position: absolute;
        left: -20px;
        font-size: 1.5em;
        font-weight: bolder;
    }

    #accordion h3 {
        cursor: pointer;
    }

    #accordion > div {
        height: 100% !important;
    }

    #accordion > div .style {
        display: flex;
        flex-direction: column;
        font-size: 1.5em;
        margin: 0 0 10px 10px;
    }
    #accordion > div .style label {

    }
    #accordion > div .style textarea {
        background-color: #282828;
        width: 70%;
        color: white;
        padding: 10px 0 0 10px;
        border-radius: 3px;
    }
    #accordion > div table {
        width: 100%;
        margin-left: 10px;
    }
    #accordion > div table tr {
        width: 80%;
        display: flex;
        justify-content: space-between;
        padding: 10px;
        background-color: #e2e2e2;
        border-radius: 5px;
        margin: 10px 0 ;
    }

    #accordion > div table tr span {
        pointer-events: none;
    }

    #accordion > div .css-attributes {
        padding: 10px 0 0 20px ;
        display: flex;
        flex-direction: column;
        width: 80%;
    }

    #accordion > div .css-attributes label {
        padding-bottom: 10px;
        font-weight: bold;
    }


    .nav-tab-wrapper li a {
        color: #282828;
        text-decoration: none;
        outline: none;
        border: none;
    }
    .nav-tab-wrapper li.nav-tab {
        margin-bottom: 0;
        cursor: pointer;
    }
    .nav-tab-wrapper li:first-of-type {
        margin-left: 0;
    }

    ul.nav-tab-wrapper {
        border-bottom-color: #dcdcde;
    }
    .nav-tab-wrapper li a:focus {
        box-shadow: none;
    }
    .nav-tab-wrapper {
    }


    td {
        position: relative;
    }

    .visibility-btn {
        border: none;
        outline: none;
        background-color: transparent;
        cursor: pointer;
        position: absolute;
        right: 0px;
        align-self: center;
    }

    .form-group .visibility-btn {
    }

     */