.shortcode-container {
  width: 100%;
  max-width: 100vw !important;
  height: 600px;
}
.container-title {
  text-align: center;
}

.container-content {
  text-align: center;
  font-size: .8em;
  padding: 30px 0;
}

.menu-info {
  height: 30%;
}

.items-wrapper {
  height: 100%;
  width: 100%;
}

/* Default Style */

.item-card {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  height: 100%;
  -webkit-user-select: none;
  user-select: none;
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;

}
.item-author {
  width: -moz-fit-content;
  width: fit-content;
  height: 45px;
  color: #fff;
  font-size: 1.8em;
  text-align: center;
  line-height: 1.4;
  font-weight: bold;
  position: absolute;
  left: 5px;
  top: 5px;
}
.item-card .item-card-img {
  width: 100%;
  height: 40%;
  position: relative;
  overflow: hidden;
}
.item-card .item-card-img img {
  object-fit: cover;
  max-width: 100% !important;
  width: 100%;
  height: 100%;
  transition: .4s all linear;
}
.item-card-img img:hover {
  transform: scale(1.1) rotate(1deg);
}
.item-card-data {
  padding-left: 10px;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15%;
}
.item-card-description {
  /* overflow-y: scroll; */
  font-size: .7em;
  white-space: wrap;
  padding-left: 20px;
  height: 45%;
}
.item-card-price {
  padding-top: 10px;
  padding-right: 20px;
}
.item-card-price span {
  font-size: .9em;
}



/* Image As a Background Layout */
.background-image-card-layout {
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  -webkit-user-select: none;
  user-select: none;
  flex-grow: 0;
  flex-shrink: 0;
  cursor: pointer;
  position: relative;
  color: rgb(240, 240, 240);
  background-color: transparent;
  overflow: hidden;
}
.background-image-card-layout .item-card-img {
  width: 100%;
  height: 100%;
  background-color: transparent;
  position: absolute;
  z-index: 8;
}
.background-image-card-layout .item-card-description {
  /* position: relative; */
  padding-left: 20px;
  height: unset;
  z-index: 10;
  /* top: 165px; */
}
.background-image-card-layout .item-card-img img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  transition: all .2s ease-out;
}
.background-image-card-layout .item-author  {
  position: relative;
  padding: 20px;
  font-size: 1.4em;
  z-index: 10;
  /* top: 165px; */
}
.background-image-card-layout .item-card-data {
  padding-left: 20px;
  height: unset;
  padding-top: 0;
  display: block;
  padding-top: 20px;
  z-index: 10;
}
.background-image-card-layout .item-card-title {
  position: relative;
  padding: 0;
  margin: 0;
  /* top: 165px; */
  font-size: 1.8em;
}

/* Comment Layout */

.comment-card-layout {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
}
.comment-card-layout .item-card-img {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  border-radius: 50%;
  order: -2;
}
.comment-card-layout .item-card-description {
  height: unset;
  position: relative;
  padding: unset;
  font-size: 1.2em;
  width: 100%;
  height: fit-content;
  padding: 0 0 0 10px;
}
.comment-card-layout .item-card-description :first-child:before{
  font-family: serif;
  content: open-quote;
  left: 0;
  top: 0;
  padding-right: 5px;
  color: #adada6;
}
.comment-card-layout .item-card-description :last-child:after{
  content: close-quote;
  font-family: serif;
  right: 0;
  top: 0;
  padding-left: 5px;
  color: #adada6;
}
.comment-card-layout .item-author{
  position: relative;
  color: black;
  order: -1;
  height: unset;
  padding: unset;
  margin: unset;
  padding-left: 15px;
  text-align: start;
  left: 49px;
  top: 40px;
}
.comment-card-layout .item-card-data {
  width: fit-content;
  height: fit-content;
  padding: unset;
  order: -3;
  position: relative;
  left: 45px;
  bottom: 25px;
  padding-left: 10px;
}
.comment-card-layout .item-card-data .item-card-title {
  font-weight: 300;
  padding: unset;
  line-height: normal;
  margin: unset;
  font-size: .8em;
  padding-top: 20px;
  padding-left: 10px;
}


/* Menu Card Layout */

.menu-card-layout .item-card-data {
  width: 100%;
  height: unset;
  padding: 15px 0;
}

.menu-card-layout .item-card-data .item-card-price {
    position: absolute;
    top: 29.5%;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 0.25rem;
    background-color: #c89b3f;
    font-size: 18px;
    font-weight: 700;
    padding: unset;
}

.menu-card-layout .item-card-description {
    position: relative;
    padding: 0px 12px 32px 24px;
    margin: 0px 8px 8px 0;
    max-height: 50%;
    overflow-y: scroll;
    font-size: 1em;
    height: 45%;
}
.menu-card-layout .item-card-description::-webkit-scrollbar {
  width: 8px;
}
.menu-card-layout .item-card-description::-webkit-scrollbar-track {
  box-shadow: 0;
  border-radius: 0;
}
.menu-card-layout .item-card-description::-webkit-scrollbar-thumb {
  background: #c89b3f;
  border-radius: 15px;
}
.menu-card-layout .item-card-data .item-card-title {
  position: relative;
  margin: 0 0 24px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  width: 100%;
}
.menu-card-layout .item-card-data .item-card-title::after {
  position: absolute;
  display: block;
  width: 50px;
  height: 2px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #c89b3f;
  content: "";
}
.menu-card-layout .item-author {
  position: absolute;
  top: 8px;
  left: 8px;
  padding: 4px 8px;
  border-radius: 0.25rem;
  background-color: #c89b3f;
  font-size: 14px;
  font-weight: 700;
  height: fit-content;
  color: black;
}
.menu-card-layout .item-card-data .item-card-price span {
  font-size: 12px;
  margin-top: -2px;
}
.menu-card-layout .item-card-description::first-letter {
  padding-left: 15px;
}

@media screen and (max-width: 900px){
  .shortcode-container {
    width: 90vw;
    height: fit-content;
  }
  .item-card-description {
    /* font-size: .5em; */
  }
}